@inherits MagicControl
@if ((Settings as IHasSettingsExceptions).HasExceptions)
{
    <div class="alert alert-danger" role="alert">
        @if (Settings.Debug?.Show == true || PageState.UserIsAdmin())
        {
            <strong>The Cre8magic Design System reports some problems (visible to Admins only)</strong>
            <ul>
                @foreach (var ex in Settings.Exceptions)
                {
                    <li>@ex.Message</li>
                }
            </ul>
        }
        else
        {
            <strong>An exception has occurred</strong>
            <div>
                Please <a href="/login">login</a> to see details
                or enable debug so exceptions are visible for anonymous users.
            </div>
        }
    </div>
    @* Add some styles to make sure the login would still work even if everything else fails *@
    <style>
        .modal {
            display: block;
        }
    </style>
}
