@inherits MagicControl
@using System.Text.Json
@using System.Text.Json.Serialization
@code {
    [Parameter] public bool? Show { get; set; }
    [Parameter, EditorRequired] public object? Target { get; set; }
    [Parameter] public string? Title { get; set; }

    [Parameter] public RenderFragment? Content { get; set; }

    [Parameter] public RenderFragment? Button { get; set; }

    private MagicDebugState Debug => _debug ??= Settings.DebugState(Target);
    private MagicDebugState? _debug;
}
@if (Show == false || !Debug.Show)
{
    return;
}
<!-- Link to trigger modal -->
<a href="#debug-@Target?.GetHashCode()" data-bs-toggle="modal">
    @if (Button == null)
    {
        <text>🪲</text>
    }
    else
    {
        @Button
    }
</a>

<!-- Modal -->
@* info to the next developer: data-backdrop=false helps avoid certain z-index issues if this debug is used in the menu etc. which has a z-index *@
<div class="modal fade" id="debug-@Target?.GetHashCode()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@(Title ?? "Debug")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (Target == null)
                {
                    <div class="alert alert-danger">
                        Trying to show debug JSON, but didn't get anything for @nameof(Target)
                    </div>
                }
                else
                {
                    @Content
                    <pre>
@JsonSerializer.Serialize(Target, new JsonSerializerOptions { WriteIndented = true, DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull})
</pre>
                }
            </div>
        </div>
    </div>
</div>
