################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToSic.Oqt.Cre8Magic.Client/bin/
/ToSic.Oqt.Cre8Magic.Client/obj/
