################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

ToSic.Cre8Magic.Client/bin/
ToSic.Cre8Magic.Client/obj/
ToSic.Cre8Magic.Client/obj/staticwebassets.pack.sentinel
InstallPackages/*.nupkg


**/.vs/