@namespace ToSic.Theme.Cre8magicTests
@using ToSic.Cre8magic.Client.Menus
@using ToSic.Cre8magic.Client.Models
@using ToSic.Theme.Cre8magicTests.Client
@inherits ThemeBase
@inject ISettingService SettingService

@code {
    public const string TopLevelWithSubpagesId = "97";

    public IEnumerable<MagicPage> GetCustomMenuPages()
    {
        List<int> pageIds = [97, 98, 99];
        return PageState.Site.Pages.Where(p => pageIds.Contains(p.PageId)).ToMagicPages(PageState);
    }
}

<main role="main">
    <nav class="navbar navbar-dark bg-primary">
        <Logo />

        <div class="controls ms-auto">
            <div class="controls-group"><UserProfile ShowRegister="@_register" /> <Login ShowLogin="@_login"  /> <ControlPanel ButtonClass="btn-outline-light" /></div>
        </div>
    </nav>

    <div class="navbar-expand-lg">
        <h2>No Settings</h2>
        <h3>Basic Menu without Setting, name none</h3>
        <BasicMenu Menu='new MagicMenuTree(PageState)' />
        <hr/>

        <hr/>
        <h2>Set MenuPages</h2>
        <h3>Custom menu pages (97, 98, 99)</h3>
        <BasicMenu Menu='new MagicMenuTree(PageState).SetMenuPages(GetCustomMenuPages())'></BasicMenu>

        <h2>Set Designer</h2>
        <h3>BasicMenuDesigner</h3>
        <BasicMenu Menu='new MagicMenuTree(PageState).Designer(new BasicMenuDesigner())' />
        <hr/>

        <h2>Various Settings</h2>
        <h3>Only one specific page, no other params</h3>
        <BasicMenu Menu='new MagicMenuTree(PageState).Setup(new() { Start = TopLevelWithSubpagesId }).Designer(new BasicMenuDesigner())'></BasicMenu>

        <h3>Only one specific page, Depth = 0</h3>
        <BasicMenu Menu='new MagicMenuTree(PageState).Setup(new() { Start = TopLevelWithSubpagesId, Depth = 0 }).Designer(new BasicMenuDesigner())'></BasicMenu>

        <h3>Only one specific page, Depth = 2</h3>
        <BasicMenu Menu='new MagicMenuTree(PageState).Setup(new() { Start = TopLevelWithSubpagesId, Depth = 2 }).Designer(new BasicMenuDesigner())'></BasicMenu>

        <hr/>
        <h2>Start at current level</h2>
        <h3>Current level only (should only show one page...)</h3>
        <BasicMenu Menu='new MagicMenuTree(PageState).Setup(new() { Start = "." }).Designer(new BasicMenuDesigner())'></BasicMenu>

        <h3>Current level with children</h3>
        <BasicMenu Menu='new MagicMenuTree(PageState).Setup(new() { Start = ".", Depth = 1 }).Designer(new BasicMenuDesigner())'></BasicMenu>

        <h3>Current level children only</h3>
        <BasicMenu Menu='new MagicMenuTree(PageState).Setup(new() { Start = ".", Children = true, Depth = 0 }).Designer(new BasicMenuDesigner())'></BasicMenu>

        <h3>Parent level only</h3>
        <BasicMenu Menu='new MagicMenuTree(PageState).Setup(new() { Start = ".", Level = -1, Depth = 0 }).Designer(new BasicMenuDesigner())'></BasicMenu>

        <h3>Current from Root Level 1, no children</h3>
        <BasicMenu Menu='new MagicMenuTree(PageState).Setup(new() { Start = ".", Level = 1, Children = false, Depth = 0 }).Designer(new BasicMenuDesigner())'></BasicMenu>
        <h3>Current from Root Level 1, children</h3>
        <BasicMenu Menu='new MagicMenuTree(PageState).Setup(new() { Start = ".", Level = 1, Children = true, Depth = 0 }).Designer(new BasicMenuDesigner())'></BasicMenu>
        <h3>Current from Root Level 1, no-children Depth 1</h3>
        <BasicMenu Menu='new MagicMenuTree(PageState).Setup(new() { Start = ".", Level = 1, Children = false, Depth = 1 }).Designer(new BasicMenuDesigner())'></BasicMenu>

        <h3>Current from Root Level 2</h3>
        <BasicMenu Menu='new MagicMenuTree(PageState).Setup(new() { Start = ".", Level = 2, Children = true, Depth = 0 }).Designer(new BasicMenuDesigner())'></BasicMenu>

        <hr/>
        <h2>Start with specific numbers</h2>
        <h3>Specific Pages Listed here (Home, myPage, Login)</h3>
        <BasicMenu Menu='new MagicMenuTree(PageState).Setup(new() { Start = "1, 3, 5!" }).Designer(new BasicMenuDesigner())'></BasicMenu>

    </div>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <Pane Name="@PaneNames.Admin" />
                </div>
            </div>
        </div>
        <Pane Name="Top Full Width" />
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <Pane Name="Top 100%" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <Pane Name="Left 50%" />
                </div>
                <div class="col-md-6">
                    <Pane Name="Right 50%" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <Pane Name="Left 33%" />
                </div>
                <div class="col-md-4">
                    <Pane Name="Center 33%" />
                </div>
                <div class="col-md-4">
                    <Pane Name="Right 33%" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <Pane Name="Left Outer 25%" />
                </div>
                <div class="col-md-3">
                    <Pane Name="Left Inner 25%" />
                </div>
                <div class="col-md-3">
                    <Pane Name="Right Inner 25%" />
                </div>
                <div class="col-md-3">
                    <Pane Name="Right Outer 25%" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <Pane Name="Left 25%" />
                </div>
                <div class="col-md-6">
                    <Pane Name="Center 50%" />
                </div>
                <div class="col-md-3">
                    <Pane Name="Right 25%" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <Pane Name="Left Sidebar 66%" />
                </div>
                <div class="col-md-4">
                    <Pane Name="Right Sidebar 33%" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <Pane Name="Left Sidebar 33%" />
                </div>
                <div class="col-md-8">
                    <Pane Name="Right Sidebar 66%" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <Pane Name="Bottom 100%" />
                </div>
            </div>
        </div>
        <Pane Name="Bottom Full Width" />
    </div>
</main>

@code {
    public override string Name => "Theme1";

    public override string Panes => PaneNames.Admin + ",Top Full Width,Top 100%,Left 50%,Right 50%,Left 33%,Center 33%,Right 33%,Left Outer 25%,Left Inner 25%,Right Inner 25%,Right Outer 25%,Left 25%,Center 50%,Right 25%,Left Sidebar 66%,Right Sidebar 33%,Left Sidebar 33%,Right Sidebar 66%,Bottom 100%,Bottom Full Width";
    
    private bool _login = true;
    private bool _register = true;

    protected override void OnParametersSet()
    {
        try
        {
            var settings = SettingService.MergeSettings(PageState.Site.Settings, PageState.Page.Settings);
            _login = bool.Parse(SettingService.GetSetting(settings, GetType().Namespace + ":Login", "true"));
            _register = bool.Parse(SettingService.GetSetting(settings, GetType().Namespace + ":Register", "true"));
        }
        catch
        {
            // error loading theme settings
        }
    }
}
