/* _content/ToSic.Oqt.Themes.Cre8ive.Client/Component1.razor.rz.scp.css */
.my-component[b-eisfa4vgy5] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
