@using System.Text.Json
@code {
    [Parameter, EditorRequired] public MagicMenuTree? MenuTree { get; set; }
}
<MagicDebug Target="@MenuTree?.Settings" Title="Settings (Menu)">
    <Content>
    @if (MenuTree == null)
    {
        <text>Trying to show debug info for a menu, but didn't get anything for @nameof(MenuTree)</text>
    }
    else
    {

        <ul>
            <li>Config Name:@MenuTree.Settings.ConfigName</li>
            <li>Template: @MenuTree.Settings.Template</li>
        </ul>
    }
    </Content>
</MagicDebug>
