@inherits ComponentBase
@*
    Purpose:    Ensures that there is a wrapper - div or body
                which has a bunch of css-classes to tell the stylesheets
                which page it's on, what navigation / language is active etc.
*@
@code
{
    [Parameter, EditorRequired] public MagicSettings Settings { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Inject] protected IMagicThemeJsService? ThemeJs { get; set; }

    // [Inject] protected MagicThemeJsServiceTest? ThemeJsTest { get; set; }

    private bool PutInBody => Settings.Theme.MagicContextInBody == true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (PutInBody && ThemeJs != null) await ThemeJs.SetBodyClasses(Settings.MagicContext);

        // await ThemeJsTest!.Log("test from test");
        // var x = await ThemeJsTest!.TestFromTest();
    }

}
@* Stop here if Settings are not ready *@
@if (Settings == null) 
{
    <text>Loading settings...</text>
    return;
}
<CascadingValue Value="Settings">
@if (PutInBody)
{
    @ChildContent
}
else
{
    <div id="@Settings.ThemeDesign.MagicContextTagId" class="@Settings.MagicContext">
        @ChildContent
    </div>
}
</CascadingValue>