@code {
    [Parameter, EditorRequired] public MagicMenuTree? MenuTree { get; set; }

    private Dictionary<string, object> GetMore() => new()
    {
        { "Menu Settings", MenuTree?.Settings },
        { "Tree Build Messages", MenuTree?.Debug },
        { "Log", MenuTree?.Log.Entries }
    };
}
<MagicDebug Target="@MenuTree?.Settings" Title="Settings (Menu)" More="GetMore()">
    <Content>
        <ul>
            <li>Config Name:@MenuTree?.Settings.ConfigName</li>
            <li>Template: @MenuTree?.Settings.Template</li>
        </ul>
    </Content>
</MagicDebug>
