@code {
    [Parameter, EditorRequired] public MagicMenuBranch? Menu { get; set; }

    [Parameter] public bool Standalone { get; set; } = false;

    private Dictionary<string, object?> GetMore() => new()
    {
        { "Menu Settings", Menu?.Tree.Settings },
        { "Tree Build Messages", Menu?.Tree.Debug },
        { "Log", Menu?.Tree.LogRoot.Entries }
    };
}
@if (Menu?.Level == 1)
{
    <MagicDebug Target="@Menu?.Tree.Settings" Title="Settings (Menu)" More="GetMore()">
        <Button>
            @if (Standalone)
            {
                <text>🪲</text>
            }
            else
            {
                <li>🪲</li>
            }
        </Button>
        <Content>
            <ul>
                <li>Config Name:@Menu?.Tree.Settings.ConfigName</li>
                <li>Template: @Menu?.Tree.Settings.Template</li>
            </ul>
        </Content>
    </MagicDebug>
}
