@namespace ToSic.Theme.Cre8magicTests
@using ToSic.Cre8magic.Client.Menus
@inherits ThemeControlBase;

@code{
    [Parameter, EditorRequired]
    public MagicMenuBranch Menu { get; set; }
}

<ul>
    @foreach (var subMenu in Menu.Children)
    {
        <li>
            <a href="@subMenu.Page.Link" target="@subMenu.Page.Target">@subMenu.Page.Name</a>
            @if (subMenu.HasChildren)
            {
                <BasicMenu Menu="@subMenu" />
            }
        </li>
    }
</ul>


