@namespace ToSic.Theme.Cre8magicTests
@using ToSic.Cre8magic.Client.Menus
@inherits ThemeControlBase;

@code{
    [Parameter, EditorRequired]
    public MagicMenuPage Menu { get; set; }
}

<ul>
    @foreach (var menuPage in Menu.Children)
    {
        <li>
            <a href="@menuPage.Page.Link" target="@menuPage.Page.Target">@menuPage.Page.Name</a>
            @if (menuPage.HasChildren)
            {
                <BasicMenu Menu="@menuPage" />
            }
        </li>
    }
</ul>


