@namespace ToSic.Theme.Cre8magicTests
@using ToSic.Cre8magic.Client.Models
@inherits ThemeControlBase;

@{
    var currentPage = PageState.Page;
    var breadcrumb = new List<MagicPage>() { currentPage.ToMagicPage() };

    var homePage = PageState.Pages.FirstOrDefault(p => p.Path == "");
    if (homePage != null && homePage.PageId != currentPage.PageId)
    {
        breadcrumb.Insert(0, homePage.ToMagicPage());

        var parentPage = PageState.Pages.FirstOrDefault(p => p.PageId == currentPage.ParentId);
        while (parentPage != null && homePage.PageId != parentPage.PageId)
        {
            breadcrumb.Insert(1, parentPage!.ToMagicPage());
            parentPage = PageState.Pages.FirstOrDefault(p => p.PageId == parentPage.ParentId);
        } 
    }
}
<div>
    @foreach (var magicPage in breadcrumb)
    {
        <span> / </span>
        <a href="@NavigateUrl(magicPage.Path)">@magicPage.Name</a>
    }
</div>
