@namespace ToSic.Theme.Cre8magicTests
@using ToSic.Cre8magic.Client.Breadcrumbs
@inherits ThemeControlBase;

@code {
    [Parameter, EditorRequired]
    public MagicBreadcrumb Breadcrumb { get; set; }
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var item in Breadcrumb.Items)
        {
            <li class="breadcrumb-item"><a href="@NavigateUrl(item.Path)">@item.Name</a></li>
        }
        <li class="breadcrumb-item active" aria-current="page">@Breadcrumb.StartPage.Name</li>
    </ol>
</nav>
